<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcoop.fresh.mapper.OrderDetailFictitiousMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxcoop.fresh.entity.OrderDetailFictitious">
        <id column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="goods_spec_id" property="goodsSpecId" />
        <result column="spec_info" property="specInfo" />
        <result column="goods_name" property="goodsName" />
        <result column="unit" property="unit" />
        <result column="price" property="price" />
        <result column="totle_price" property="totlePrice" />
        <result column="order_num" property="orderNum" />
        <result column="memo" property="memo" />
        <result column="order_time" property="orderTime" />
        <result column="customer_id" property="customerId" />
        <result column="company_id" property="companyId" />
    </resultMap>

</mapper>
