<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcoop.fresh.mapper.RechargeConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxcoop.fresh.entity.RechargeConfig">
        <id column="id" property="id" />
        <result column="recharge_money" property="rechargeMoney" />
        <result column="actual_payment" property="actualPayment" />
        <result column="discount_money" property="discountMoney" />
        <result column="time" property="time" />
        <result column="del" property="del" />
    </resultMap>

</mapper>
