<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcoop.fresh.mapper.SpecValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxcoop.fresh.entity.SpecValue">
        <id column="id" property="id" />
        <result column="sp_id" property="spId" />
        <result column="sp_value_name" property="spValueName" />
        <result column="sp_value_image" property="spValueImage" />
        <result column="sp_value_sort" property="spValueSort" />
        <result column="del" property="del" />
    </resultMap>

</mapper>
