<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcoop.fresh.mapper.StockDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxcoop.fresh.entity.StockDetail">
        <id column="id" property="id" />
        <result column="provide_id" property="provideId" />
        <result column="goods_specs_id" property="goodsSpecsId" />
        <result column="goods_name" property="goodsName" />
        <result column="spec_info" property="specInfo" />
        <result column="real_num" property="realNum" />
        <result column="in_num" property="inNum" />
        <result column="flag" property="flag" />
        <result column="flag_name" property="flagName" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="check_time" property="checkTime" />
        <result column="memo" property="memo" />
    </resultMap>

</mapper>
